<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">{{ isEdit ? 'Edit Product' : 'Add Product' }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="productForm">
                    <input type="text" class="form-control" id="id" formControlName="id" hidden>
                    
                    <div class="mb-3">
                        <label for="productName" class="form-label">Product Name</label>
                        <input type="text" class="form-control" id="productName" formControlName="productName">
                        <div *ngIf="productForm.get('productName')?.invalid && productForm.get('productName')?.touched" class="text-danger">
                            Product Name is required.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="type" class="form-label">Type</label>
                        <select class="form-select" id="type" formControlName="type">
                            <option value="" disabled>Select Type</option>
                            <option value="Electronics">Electronics</option>
                            <option value="Lifestyle">Lifestyle</option>
                        </select>
                        <div *ngIf="productForm.get('type')?.invalid && productForm.get('type')?.touched" class="text-danger">
                            Type is required.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" class="form-control" id="price" formControlName="price">
                        <div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched" class="text-danger">
                            Price is required and must be greater than 0.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="quantity" class="form-label">Quantity</label>
                        <input type="number" class="form-control" id="quantity" formControlName="quantity">
                        <div *ngIf="productForm.get('quantity')?.invalid && productForm.get('quantity')?.touched" class="text-danger">
                            Quantity is required and must be greater than 0.
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveProduct()">Save</button>
            </div>
        </div>
    </div>
</div>
